{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": ["import"],
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  rules: {
    "max-len": ["error", 120],
    "require-jsdoc": "off",
    "comma-dangle": "off"
  }
}
