{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "react",
    "react-redux",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-redux/recommended",
    "google",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  rules: {
    "max-len": ["error", 120],
    "require-jsdoc": "off",
    "comma-dangle": "off",
    "react-redux/prefer-separate-component-file": "off"
  }
}
