{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true,
    "sinon": true
  },
  "plugins": ["react", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "google",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "max-len": ["error", 120],
    "require-jsdoc": "off",
    "comma-dangle": "off",
    "indent": [2, 2],
    "react/jsx-indent": [2, 2]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
